body{
    margin: 0;
    height: 100vh;
    background-color: var(--mBackground);
    justify-content: center;
    align-content: center;
}
h1{
    font-size: 6vw;
    margin: 0;
    text-align: center;
}