/* 
Szin kodok
kek = #27273e 
pink = #f2c7f2
orange = #dc5e00
bg-zsurke = 403F4C
cool-gray = 9FA0C3
*/

@font-face {
  font-family: Bank;
  src: url(home-source/bank-gothic.otf);
  
}

body {
  background-color: #403F4C;
  margin: 0;
}

.rgopages-logo {
  min-width: 130px;
  max-width: 500px;
  width: 20%;
}

.nav-parent {
display: flex;
justify-content: space-evenly;
height: auto;
align-items: center;
margin: 1%;
}

.nav-button {
  color: rgba(242, 199, 242, 0.1);
  font-size: 170%;
}