/* 
Szin kodok
kek = #27273e 
pink = #f2c7f2
orange = #dc5e00
bg-zsurke = 403F4C
cool-gray = 9FA0C3
*/

@font-face {
  font-family: Bank;
  src: url(home-source/bank-gothic.otf);
  
}

body {
  background-color: #403F4C;
  margin: 0;
}

.rgopages-logo {
  min-width: 100px;
  max-width: 500px;
  width: 20%;
}

.nav-parent {
display: flex;
justify-content: center;
align-items: center;
height: auto;
margin-top: 10px;
margin-left: 5px;
margin-right: 5px;
}

.nav-button {
  color: rgba(242, 199, 242, 1);
  font-size: 4vw;
  width: 15%;
  font-family: Bank;
}
.nav-button-left {
  margin-right: 2%;
  text-align: left;
}
.nav-button-right {
  margin-left: 2%;
  text-align: right;
}