@font-face {
  font-family: Bank;
  src: url(index-source/bank-gothic.otf);
}

*{
  font-family: Bank;
  margin: 0;
}

html{
  --bgc:    #403F4C;
  --gray:   #9FA0C3;
  --pink:   #F2C7F2;
  --orange: #DC5E00;
  --blue:   #27273E;
  --purple: #3D2B3C;
}

body{
  background-color: var(--bgc);
}

nav{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr ;
  background-color: #9FA0C3;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav-left{
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
}
.nav-center{
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  border-radius: 3vw;
}
.logo{
  display: flex;
  height: 10vw;
  min-height: 200px;
  padding: 1vw;
}
.nav-right{
  display: flex;
  justify-content: flex-end;
  font-size: 10px; 
}