@font-face {
  font-family: Bank;
  src: url("/fonts/bank-gothic.otf");
}

*{
  font-family: Bank;
  margin: 0;
}

html{
  --mybgc:    #403F4C;
  --mygray:   #9FA0C3;
  --mypink:   #F2C7F2;
  --myorange: #DC5E00;
  --myblue:   #27273E;
  --mypurple: #3D2B3C;
  font-size: 62.4%;
}

body{
  background-color: var(--mybgc);
}
a{
  text-decoration: none;
  cursor: pointer;
}

nav{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr ;
}
.nav-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1vw;
}
.nav-center{
  display: flex;
  justify-content: center;
  padding: 1vw;
}
.logo{
  display: flex;
  height: 5rem;
  padding: 1vw;
  background-color: var(--mypurple);
  border-radius: 2rem;
}
.nav-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1vw;
}
.nav-button{
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 1vw;
  background-color: var(--myblue);
  color: var(--mypink);
  border-radius: 2rem;
}
.nav-login{
  background-color: var(--myorange);
}

.hero{
  display: flex;
  justify-content: center;
}
.hero-text{
  margin-top: 5vw;
  margin-bottom: 5vw;
  border-radius: 4vw;
  border-style: solid;
  border-color: var(--myblue);
  background-color: var(--mygray);
  padding: 1vw;
  width: 300px;
  font-size: 3rem;
}
.all{
  text-align: left;
  color: var(--myorange);
  padding: 1vw;
}
.kinds{
  text-align: center;
  color: var(--myblue);
  padding: 1vw;
}
.pages{
  text-align: right;
  color: var(--mypink);
  padding: 1vw;
}