/* 
Szin kodok
kek = #27273e 
pink = #f2c7f2
orange = #dc5e00
bg-zsurke = 403F4C
cool-gray = 9FA0C3
*/

@font-face {
  font-family: Bank;
  src: url(index-source/bank-gothic.otf);
  
}

body {
  background-color: #403F4C;
  margin: 0;
  font-family: bank;
  user-select: none;
}

.nav-parent {
display: flex;
justify-content: center;
align-items: center;
}
.child {
  display: flex;
  width: 17%;
  min-width: 10px;
  justify-content: center;
  align-items: center;
}
.child a {
  font-size: 4vw;
}

.nav-button {
  color: rgba(242, 199, 242, 1);
  text-decoration: none;
  transition: color 0.2s;
}

.rgo-parent {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.rgo-parent p {
  color: rgba(242, 199, 242, 1);
  margin: 0;
  font-size: 4vw;
  height: 2.9vw;
  transition: color 0.3s;
}
.ro {
  position: relative;
  right: 0.2vw;
}
.audio {
  margin-top: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1000px;
  background-color: rgba(0,0,0,1);
  box-shadow: 10px 10px 30px 1px;
}
