#button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

#button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms
}

#button:hover {
  color: black;
}

#button:hover::before {
  width: 100%;
}

/*dark theme vége*/

/*header kezd*/
header {
  color: black;
  background-repeat: no-repeat;
  height: 200px;
  margin-left: 200px;
  margin-right: 200px;
  background-size: cover;
  font-size: xx-large;
  text-align: center;

}

/*header vege*/
/*section cuccok*/
#infok {
  border: thick;
  border-color: yellowgreen;
  border-width: 10px;
  border-style: ridge;
  float: left;
  width: 350px;
  text-align: center;
}

#infok>h1,
h2 {
  text-align: center;
}

#infok {
  height: 779.5px;
}

/*kepzes*/
#kepzes {
  border: thick;
  border-color: rgb(23, 187, 236);
  border-width: 10px;
  border-style: ridge;
  overflow: hidden;
}

#kepzes>h1 {
  font-size: xx-large;
  text-align: center;
}

#kepzes>p {
  font-size: large;
}

#kepzes>a>#button {
  padding: 20px 20px;
  margin-left: 40%;
}

/*kepzes vege*/
#elet {
  border: thick;
  border-color: rgb(255, 62, 213);
  border-width: 10px;
  border-style: ridge;
  overflow: hidden;
}

#elet>h1 {
  font-size: xx-large;
  text-align: center;

}

#elet>p {
  font-size: large;
}

#elet>a>#button {
  padding: 20px 20px;
  margin-left: 40%;
}

#beisk {
  border: thick;
  border-color: rgb(44, 255, 213);
  border-width: 10px;
  border-style: ridge;
  overflow: hidden;
}

#beisk>h1 {
  font-size: xx-large;
  text-align: center;

}

#beisk>h2 {
  font-size: x-large;
  text-align: center;

}

#beisk>p {
  font-size: large;
}

#beisk>a>#button {
  padding: 20px 20px;
  margin-left: 42%;
}


p {
  margin-left: 25px;
  margin-right: 20px;
}

marquee {
  letter-spacing: 50px;
}
body{
  background-image: url(../kepek_mappa/wp4889244.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
