@font-face {
  font-family: Bank;
  src: url("/fonts/bank-gothic.otf");
}

body {
  background-color: #403F4C;
  margin: 0;
  font-family: Bank;
  user-select: none;
}

.title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Bank;
  color: #f2c7f2;
  margin-top: 0;
  margin-left: 1vw;
  margin-top: 1vw;
  font-size: 6vw;
  margin-bottom: 2vw;
  user-select: none;
  
}

.rgo-title {
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0.5vw;
  border-style: solid;
  border-color: #f2c7f2;
  border-radius: 0.5vw;
  text-decoration: none;
  color: #f2c7f2;
  padding: .1vw;
  user-select: none;
  margin-right: 0.5vw;
}

.lang-button{
  height: 4vw;
  font-family: Bank;
  font-size: 2.5vw;
  color: #f2c7f2;
  background-color: #27273E;
}

.game{
  text-align: center;
  color: #f2c7f2;
  font-size: 3vw;
}

.buttons{
  font-family: Bank;
  font-size: 2.8vw;
  height: 20vw;
  width: 20vw;
  border-radius: 10vw;
  background-color: #27273E;
  color: #f2c7f2;
}

hr{
  width: 50vw;
}

.score-board{
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin: 0;
}

.score{
  margin-right: 2vw;
}