@font-face {
  font-family: Bank;
  src: url("/fonts/bank-gothic.otf");
}

body {
  background-color: #403F4C;
  margin: 0;
  font-family: Bank;
  user-select: none;
}

.lang-button{
  height: 4vw;
  font-family: Bank;
  font-size: 2.5vw;
  color: #f2c7f2;
  background-color: #27273E;
}

.game{
  text-align: center;
  color: #f2c7f2;
  font-size: 3vw;
}

.buttons{
  font-family: Bank;
  font-size: 2.8vw;
  height: 20vw;
  width: 20vw;
  border-radius: 10vw;
  background-color: #27273E;
  color: #f2c7f2;
}

.winner {
  margin: 0;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

hr{
  width: 50vw;
}

.score-board{
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin: 0;
  margin-top: 2vw;
}

.p{
  margin: 0;
}

.score{
  margin-right: 2vw;
}