@font-face {
  font-family: Bank;
  src: url("/fonts/bank-gothic.otf");
}

*{
  margin: 0;
  font-family: Bank;
  text-decoration: none;
}

html{
  --mybgc:    #403F4C;
  --mygray:   #9FA0C3;
  --mypink:   #F2C7F2;
  --myorange: #DC5E00;
  --myorange-dark: #773300;
  --myorange-light: #ff8c35;
  --myblue:   #27273E;
  --mypurple: #3D2B3C;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  background-color: var(--mybgc);
}
nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(159, 160, 195, 0);
  border-radius: 0;
  transition: background-color , 0.4s;
}
nav:hover{
  background-color:rgba(159, 160, 195, 1);
  border-radius: 10vw;
}
nav a{
  display: inline-flex;
}

#nav-logo{
  height: 20vw;
  margin: 1vw;
  padding: 3vw;

  border-color: transparent;
  border-style: solid;
  border-radius: 10vw;
  border-width: 0.5vw;
  color: var(--mypink);

  transition:border-color, 0.2s;
}
.logo{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.logo h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5vw;
  font-size: 7vw;
}
nav:hover #nav-logo{
  border-color: transparent;
  background-color: var(--myblue);
}
#nav-logo-button a:hover #nav-logo{
  border-color: var(--myorange);
}
#nav-logo-button a:active #nav-logo{
  background-color: var(--mypurple);
  border-width: 1vw;
}
#nav-logo-button{
  display: flex;
  align-items: center;
}


#nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28vw;
  font-size: 7vw;
  margin: 1vw;
  padding: 3vw;

  border-color: transparent;
  border-style: solid;
  border-radius: 10vw;
  border-width: 0.5vw;
  background-color: transparent;
  color: var(--mypink);

  transition:border-color, 0.2s;
}
nav:hover #nav-button{
  border-color: transparent;
  background-color: var(--myblue);
}#nav-login-button a:hover #nav-button{
  border-color: var(--myorange);
}
#nav-login-button a:active #nav-button{
  background-color: var(--mypurple);
  border-width: 1vw;
}
#nav-login-button{
  display: flex;
  justify-content: right;
}

#hero{
  margin-top: 1vw;
  padding: 5vw;
  font-size: 3vw;
  line-height: 10vw;
  transition:background-color, 0.4s;
  color: var(--mypink);
}
#hero:hover{
  background-color: var(--myblue);
  border-radius: 10vw;
}
#hero:hover span{
  color: var(--myorange);
}

#hero span{
  color: var(--mybgc);
  transition:color, 0.4s ;
}

#first{
  text-align: right;
}

#pages{
  
}
.page{
  display: grid;
  grid-template-columns:1fr 3fr 2fr;
}