.texts {
  font-family: Arial;
  text-align: center;
  border-style: solid;
  border: 50%;
  border-color: black;
  border-radius: 10%;
  background-color: #be4b4b;
  padding: 4%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0,0.4);
}
.button{
  width: 50%;
  height: 50%;
  font-size: 250%;
  padding: 2%;
}
.margin-zero{
  margin-top: 4%;
  margin-bottom: 4%;

}
body {
  background-color: rgb(41, 0, 0);
}