@font-face {
  font-family: Bank;
  src: url("/fonts/bank-gothic.otf");
}

*{
  margin: 0;
  font-family: Bank;
  text-decoration: none;
}

html{
  --mybgc:    #403F4C;
  --mygray:   #9FA0C3;
  --mypink:   #F2C7F2;
  --myorange: #DC5E00;
  --myorange-dark: #773300;
  --myorange-light: #ff8c35;
  --myblue:   #27273E;
  --mypurple: #3D2B3C;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  display: grid;
  grid-column: 1fr;
  justify-content: center;
  background-color: var(--mybgc);
}

h1{
  text-align: center  ;
  color: var(--mypink);
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#mama{
  grid-column-start: 1;
  grid-column-end: 3;
  width: 24vw;
  height: 32vw;
}
#mama img{
  object-fit: cover;
}
#anya{
  grid-column-start: 1;
  grid-column-end: 3;
  width: 5vw;
  height: 5vw;
}
#anya img{
  width: 32vw;
  height: 24vw;
}