html{
  --mybgc:    #403F4C;
  --mygray:   #9FA0C3;
  --mypink:   #F2C7F2;
  --myorange: #DC5E00;
  --myorange-dark: #773300;
  --myorange-light: #ff8c35;
  --myblue:   #27273E;
  --mypurple: #3D2B3C;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  display: grid;
}

h1{
  color: var(--mypink);
  text-align: center;
}

main{
  border-color: black;
  border: 10px;
  border-style: solid;
  
}