:root{
  --mPrimary: hsl(300, 63%, 80%);
  --mAccent: hsl(from var(--mPrimary) h s calc(l - 30));
  --mText: hsl(from var(--mPrimary) h s calc(l + 10));
  --mBackground: hsl(240, 14%, 10%);
  --mSecondary: hsl(from var(--mBackground) h s calc(l + 30));
}
.lightmode{
  --mPrimary: hsl(300, 63%, 20%);
  --mAccent: hsl(from var(--mPrimary) h s calc(l + 30));
  --mText: hsl(from var(--mPrimary) h s calc(l - 10));
  --mBackground: hsl(240, 14%, 70%);
  --mSecondary: hsl(from var(--mBackground) h s calc(l - 30));
}
html{
  background-color: var(--mBackground);
}
body{
  height: 100vh;
  background-color: hsl(from var(--mBackground) h s calc(l + 10));
  margin: 5vw 5vw 0;
  border-radius: 5vw 5vw 0 0;
}
#shadow{
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 10vh;
  width: 100%;
  z-index: -1;
}
header{
  display: flex;
  justify-content: center;
}
#logo{
  margin-top: 2vw;
  display: grid;
  text-align: center;
  line-height: min(5vw, 100px);
  font-size: min(10vw, 200px);
  padding: 1vw 1vw 2vw;
  border-radius: 2vw;
  transition: all 0.3s;
}
#logo a{
  text-decoration: none;
  color: var(--mPrimary);
}
#logo:hover {
  background-color: var(--mSecondary);
  border-radius: 10vw;
}