:root{
  --mPrimary: hsl(300, 63%, 80%);
  --mAccent: hsl(from var(--mPrimary) h s calc(l - 30));
  --mText: hsl(from var(--mPrimary) h s calc(l + 10));
  --mBackground: hsl(240, 14%, 10%);
  --mSecondary: hsl(from var(--mBackground) h s calc(l + 30));
}
body{
  background-color: var(--mBackground);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: clamp(10px, 10vw, 100px);
  box-sizing: border-box;
}

.question{
  background-color: var(--mSecondary);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

input[type="text"]{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}