:root{
  --mPrimary: hsl(300, 63%, 80%);
  --mAccent: hsl(from var(--mPrimary) h s calc(l - 30));
  --mText: hsl(from var(--mPrimary) h s calc(l + 10));
  --mBackground: hsl(240, 14%, 10%);
  --mSecondary: hsl(from var(--mBackground) h s calc(l + 30));
  color: var(--mText);
}
body{
    background-color: var(--mBackground);
    display: grid;
    border: white 5px solid;
}
@media (max-width: 1000px) {
    body{
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'main' 'aside';
        margin:0 2vw;
    }
}
@media (min-width: 1000px) and (max-width: 1500px) {
    body{
        grid-template-columns: 4fr 7fr;
        grid-template-areas: 'aside main';

        margin:0 3vw;
    }
}
@media (min-width: 1500px) and (max-width: 1900px) {
    body{
        grid-template-columns: 4fr 7fr;
        grid-template-areas: 'aside main';

        margin:0 17vw;
    }
}
@media (min-width: 1900px) and (max-width: 2500px) {
    body{
        grid-template-columns: 4fr 7fr;
        grid-template-areas: 'aside main';

        margin:0 25vw;
    }
}
@media (min-width: 2500px) {
    body{
        grid-template-columns: 4fr 7fr;
        grid-template-areas: 'aside main';

        margin:0 max(700px,30vw);
    }
}
@media (orientation: landscape) and (max-width: 1000px) {
    body{
        grid-template-columns: 4fr 7fr;
        grid-template-areas: 'aside main';
        margin:0 2vw;
    }
}


aside{
    grid-area: aside;
    border: gray 5px solid;
}
img{
    background-color: #fff;
}

main{
    grid-area: main;
    border: gray 5px solid;
}

footer{
    text-align: end;
    position: sticky;
    bottom: 0;
    justify-self: center;
    align-self: end;
    grid-area: main;
}